dlib
numpy
scipy
matplotlib
scikit-image
scikit-learn
opencv-contrib-python
google-cloud-vision==0.30.1
Pillow
tensorflow==1.15.2  # python3.6.5 호환성문제시 -> (https://github.com/lakshayg/tensorflow-build)
vlc
pyaudio
pyobjc		# for OSX
playsound	# for OSX
pymongo
pprint
google-cloud-speech==0.35.0	# Google Speech
requests			# ChatBot
#pyglet		# AVBin required: [OSX] http://avbin.github.io/AVbin/Download.html, [Linux] sudo apt-get install libavbin-dev libavbin0
#Pillow==5.0.0
